@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&display=swap');

body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    height: 364px;
    width: 212px;
    background-color: #1c1c1c;
    padding: 15px;
    border-radius: 30px;
}

#display{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    width: 212px;
    height: 100px;
    padding: 10px 20px;
    color: white;
    font-style: "Playwrite ES";
    font-size: larger;
}

button{
    width: 50px;
    height: 50px;
    border-width: 0;
    border-radius: 50%;
    background-color: #505050;
    color: white;
    font-style: "Playwrite ES";
    font-size: medium;
}

.keypad{
    width: 210px;
    height: 210px;
    display: flex;
    margin-bottom: 2px;
}

.numberKeypad{
    font-size: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.operatorButtons{
    width: 52px;
    height: 210px;
    display: flex;
    flex-wrap: wrap;

}

.operatorButtons button{
    background-color: #FF9500;
}

.bottomKeypad{
    width: 212px;
    height: 54px;
    font-size: 0;
    display:flex;
    justify-content: space-evenly;
}

.bottomKeypad button{
    background-color: #d4d4d2;
    color: #1c1c1c;
}

#clear, #delete{
    width: 103px;
    height: 50px;
    border-radius: 25px;
}